<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api list</title>
</head>
<body>
    <h1>Backend</h1>

    <ul>
        <li>https://yohendriabb.pythonanywhere.com</li>
        <li>api/reserves/</li>
        <li>post-list/</li>
        <li>doc-list/</li>
        <li>specialty-list/</li>
        <li>reserve-create/</li>
        <li>date-create/</li>
        <li>doctor-create/</li>
        <li>specialty-create/</li>
        <li>date-list/</li>
        <li>services/</li>
       <li>services-detail/</li>,
    </ul>
</body>
</html>

<style>
    ul li {
        list-style: none;
    }
</style>